/* Sakura Tanikawa */
/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat:wght@100;400;700&display=swap');

:root {
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --darkgray: #222222;
    --lightgray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
    --font-molle: "Molle", cursive;
    --font-montserrat: "Montserrat", sans-serif;
}

nav a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: bold;
}

h1, h2, h3 {
    font-family: var(--font-molle);
}

h1 {
    font-size: 50pt;
    padding-top: 10px;
}

h2 {
    font-size: 40pt;
}

h3 {
    font-size: 35pt;
}

h4 {
    font-size: 25pt;
    font-weight: bold;
    text-transform: uppercase;
    font-family: var(--font-montserrat);
}

p, q, nav, a, form, button, small {
    font-family: var(--font-montserrat);
}

p {
    line-height: 2;
    font-size: 1.3em;
    font-weight: 100;
}

#skip {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.sr-only:focus {
    position: static;
    width: auto;
    height: auto;
}

header {
    background: linear-gradient(to bottom, var(--teal), var(--white));
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
}

header h1 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

header p {
    font-size: 1.5em;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    margin-bottom: 1em;
}

#menu-toggle input[type="checkbox"] {
    display: none;
}

#logo img {
    display: block;
    max-width: 70%;
    height: auto;
    margin: 0 auto;
}

#intro {
    display: flex;
    flex-direction: column;
}

img {
    display: block;
    width: 100%;
}

#plan {
    background-color: var(--yellow);
    padding: 2em 0;
    margin-top: 2em;
}

#plan section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--teal);
    padding: 2em;
    margin: 1em;
    height: 250px;
    width: 300px;
    border-radius: 10px;
    border: 4px solid var(--white);
    text-align: center;
}

#plan img {
    max-width: 80%;
    padding-top: 1em;
}

#plan div {
    display: grid;
    justify-items: center;
}

#testimonials {
    padding: 2em;
}

#testimonials img {
    width: 300px;
    margin: 1em;
}

#testimonials div {
    display: grid;
    gap: 1em;
}

#testimonials section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about {
    background-color: var(--blue);
    padding: 3em 0;
}

#about img {
    width: 70%;
    height: 70%;
}

#about div {
    padding-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 1em;
}

#about section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#contact h3 {
    padding-top: 1em;
    display: flex;
    align-items: center;
    gap: 1.5em;
}

form {
    width: 80%;
    padding: 1em;
    margin: 0 auto;
    color: var(--darkgray);
}

label, fieldset {
    display: block;
    width: 95%;
    text-transform: uppercase;
    margin: 0.75em 0 0.25em;
    color: var(--darkgray);
    font-weight: bold;
}

.required, .form-required {
    color: var(--purple);
    font-size: 1.1em;
    font-weight: bold;
    display: inline-block;
}

.form-required {
    font-weight: 300;
    color: var(--black);
    font-style: italic;
    font-size: 25px;
}

input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    padding: 15px 0.5em;
    color: var(--darkgray);
    border: 1px solid var(--purple);
    border-radius: 3px;
    height: 3em;
    margin-bottom: 1em;
}

fieldset input[type="radio"],
fieldset input[type="checkbox"] {
    transform: scale(2.5);
    margin-right: 5px;
    accent-color: var(--purple);
}

fieldset input[type="radio"]:focus {
    outline: none;
    border-color: var(--purple);
}

fieldset {
    padding-left: 1em;
    margin: 1em 0 0.25em;
    width: 100%;
    display: flex;
    flex-direction: column;
}

fieldset label {
    display: flex;
    align-items: center;
    gap: 3em;
}

input[type="submit"] {
    padding: 0.75em;
    width: 100%;
    color: var(--white);
    background-color: var(--purple);
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    border-radius: 3px;
}

.custom-select {
    position: relative;
    width: 100%;
    margin: 1em 0;
}

.custom-select select {
    appearance: none;
    width: 100%;
    padding: 15px 0.5em;
    font-size: 1em;
    color: var(--darkgray);
    border: 1px solid var(--purple);
    border-radius: 3px;
    background-color: var(--white);
    cursor: pointer;
    height: 3em;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.custom-select select:focus {
    outline: none;
    border-color: var(--blue);
    box-shadow: 0 0 5px rgba(128, 0, 128, 0.5);
}

.custom-select::after {
    content: "⌄";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 1em;
    color: var(--purple);
    pointer-events: none;
}

input:focus {
    border-color: var(--blue);
    box-shadow: 0 0 0 3px rgba(34, 34, 34, 0.3);
    border-radius: 4px;
}

input:error {
    border-color: red;
}

footer {
    padding: 2em;
    background-color: var(--lightgray);
    display: flex;
    gap: 2.5em;
}

footer a {
    color: inherit;
    text-decoration: none;
}

.form-required {
    font-family: var(--font-montserrat);
    font-style: italic;
}

@media screen and (min-width: 428px) {
    header nav ul {
        display: none;
    }

    header {
        padding: 1em 0 1em 1em;
    }

    #intro h2, #intro p, h3 {
        padding: 0 1em;
    }

    #img-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    #menu-toggle label {
        background-color: var(--yellow);
        padding: 1em 0 1em 1em;
        text-align: center;
        display: inline-block;
    }
}

@media screen and (min-width: 768px) {
    header {
        grid-template-columns: 1fr 1.5fr;
        padding: 5em;
    }

    header h1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    header p {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    #logo {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        margin-bottom: 2em;
    }

    header nav {
        grid-column: 1 / 3;
        padding-top: 2em;
    }

    header nav ul {
        display: flex;
        justify-content: space-evenly;
        gap: 1em;
    }

    header nav ul li {
        background-color: var(--white);
        color: var(--black);
        padding: 1em;
        width: 20%;
        min-width: fit-content;
        text-align: center;
    }

    header nav ul li:hover {
        background-color: var(--yellow);
    }

    #menu-toggle label {
        display: none;
    }

    h3 {
        margin-left: 5%;
    }

    #intro {
        padding: 2em;
    }

    #img-grid {
        grid-template-columns: 1fr 1fr;
    }

    #img-grid picture {
        grid-column: 1 / -1;
    }

    #plan div {
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        margin: 0 3em;
    }

    #testimonials div {
        grid-template-columns: 1fr 1fr;
        margin: 0 4em;
    }

    #about div {
        grid-template-columns: repeat(4, 1fr);
        max-width: 1000px;
        margin: 0 auto;
    }

    form {
        width: 80%;
    }

    fieldset {
        flex-direction: row;
    }

    input[type="submit"] {
        width: 50%;
        margin-left: 50%;
    }

    footer {
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (min-width: 1920px) {
    header {
        grid-template-columns: 1fr 2fr 2fr;
        padding: 0;
    }

    header nav {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        padding: 0;
    }

    #logo {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }

    header h1 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    header p {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    #intro {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        width: 90%;
        margin: 0 auto;
    }

    #intro p, #intro h2 {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }

    #intro p {
        padding-top: 3em;
    }

    #img-grid {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }

    #plan {
        padding: 4em 0;
    }

    #plan div {
        grid-template-columns: repeat(4, 1fr);
    }

    #testimonials div {
        grid-template-columns: repeat(4, 1fr);
    }

    form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1em;
        width: 90%;
    }

    form > div {
        flex-grow: 1;
        min-width: 250px;
    }

    footer p {
        flex-grow: 1;
    }
}
